*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a
{
    text-decoration: none;
}
.txt{

    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 10vh;
}
.iam{
    color: white;
    font-size: 55px;
    padding: 15px;
    font-family: sans-serif;
}
.text{
    color: white;
    border-right: 2px solid rgb(255, 255, 255);
    font-size: 55px;
    font-family: sans-serif;
    color: rgb(255, 37, 37);
}
#uBox
{
    top: 30%;
    left: 10%;
}
#footer
{
   height: 30px;
}





















































